<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="vue-app">
        <h1>{{title}}</h1>
        <h1>{{message}}</h1>
        <p>This is: {{fullName()}}</p>
        <p>First Name: {{name.firstName}}</p>
        <p>Last Name: {{name.lastName}}</p>
        <br>

        <p>This is value of product number 1 * vat: {{value1()}} (You have already {{product1}} products.)</p>
        <button v-on:click="product1++">Add one value to product1</button>
        <button v-on:click="product2++">Add one value to product2</button>
        <p>Price plus vat: {{value3}}</p>
        <!-- <p>{{vat}}</p>
        <p>{{product1}}</p>
        <p>{{product2}}</p> -->
    </div>
</body>
<script type="text/javascript">
    var app4 = new Vue({
        el: '#vue-app',
        data: {
            title: "My awesome basic app.",
            name: {
                firstName: "Mateusz",
                lastName: "Banaszak"
            },
            message: "Hello!",
            vat: 1.25,
            product1: 0,
            product2: 0,


        },
        methods: {
            fullName() {
                return this.name.firstName + ' ' + this.name.lastName
            },
            value1() {
                console.log("I do what you want to :)")
                return this.product1 * this.vat
            },
            value2() {
                console.log("I do what you want to :)")
                return this.product2
            }
        },
        computed: {
            value3 : function(vat) {
                return this.product1 * this.vat
            }
        }
    })
</script>

</html>