<template>
  <div class="add-smoothie container">
    <h2 class="center-align indigo-text">Add contact</h2>
    Please press enter when you finish writting your email!
    <form @submit.prevent="AddSmoothie">
      <div class="field title">
        <label for="title">Contact name:</label>
        <input type="text" name="title" v-model="title" />
      </div>
      <!-- <div v-for="(ing, index) in ingredients" :key="index" class="field">
        <label for="ingredient">Email address:</label>
        <input type="text" name="ingredient" v-model="ingredients[index]" />
        <i class="material-icons delete" @click="deleteIng(ing)">delete</i>
      </div> -->
      <div class="field add-ingredient">
        <label for="add-ingredient">Email address:</label>
        <input type="text" name="add-ingredient" @keydown.enter.prevent="AddIng" v-model="another" />
      </div>
      <div class="field center-align">
        <p v-if="feedback" class="red-text">{{ feedback }}</p>
        <button class="btn pink">Add contact!</button>
      </div>
    </form>
  </div>
</template>

<script>
import db from './firebaseInit'
import slugify from 'slugify'
export default {
  name: 'AddSmoothie',
  data() {
    return {
      title: null,
      another: null,
      ingredients: [],
      feedback: null,
      slug: null
    }
  },
  methods: {
    AddSmoothie() {
      if (this.title) {
        this.feedback = null
        this.slug = slugify(this.title, {
          replacement: '-',
          remove: /[$*_+~.()'"!\-:@]/g,
          lower: true
        })
        db.collection('smoothies')
          .add({
            title: this.title,
            ingredients: [...this.ingredients],
            slug: this.slug
          })
          .then(() => {
            this.$router.push({ name: 'home' })
          })
          .catch(err => console.log(err))
      } else {
        this.feedback = 'You must provide a smoothie title'
      }
    },
    AddIng(e) {
      if (this.another) {
        this.ingredients.push(e.target.value)
        this.another = null
        this.feedback = null
      } else {
        this.feedback = 'you must enter a value to add an ingredient'
      }
    },
    deleteIng(ing) {
      this.ingredients = this.ingredients.filter(ingredient => ingredient !== ing)
    }
  }
}
</script>

<style>
.add-smoothie {
  margin-top: 60px;
  max-width: 500px;
  padding: 20px;
}
.add-smoothie h2 {
  font-size: 2em;
  margin: 20px auto;
}
.add-smoothie .field {
  margin: 20px auto;
  position: relative;
}
.add-smoothie .delete {
  bottom: 16px;
  color: #aaa;
  cursor: pointer;
  font-size: 1.4em;
  position: absolute;
  right: 0;
}
</style>