<template>
<div><h1>Welcome to Vue Chat and ToDo App!</h1>
If you go to Chat you can have a nice conversation with another logged in users!
<br>
If you do not want to forget something, go to Home and add a note for your group to not forget something</div>
  
</template>

<script>
export default {

}
</script>

<style>

</style>