<template>
  <div class="navbar">
    <nav class="nav-extended indigo darken-2">
      <div class="nav-content">
        <router-link :to="{ name: 'home' }">
          <span class="nav-title">Vue Chat App</span>
        </router-link>
        <li v-if="isLoggedIn">
          <span class="email black-text">{{ currentUser }}</span>
        </li>
        <li v-if="isLoggedIn"><router-link to="/">Dashboard</router-link></li>
        <li v-if="isLoggedIn"><router-link to="/chat">Chat</router-link></li>
        <li v-if="isLoggedIn"><router-link to="/home">Home</router-link></li>
        <li v-if="!isLoggedIn"><router-link to="/login">Login</router-link></li>
        <li v-if="!isLoggedIn">
          <router-link to="/register">Register</router-link>
        </li>
        <li v-if="isLoggedIn">
          <button v-on:click="logout" class="btn black">Logout</button>
        </li>
        <a href class="btn-floating btn-large halfway-fab pink">
          <router-link :to="{ name: 'AddSmoothie' }">
            <i class="material-icons">add</i>
          </router-link>
        </a>
      </div>
    </nav>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  name: "navbar",
  data() {
    return {
      isLoggedIn: false,
      currentUser: false,
    };
  },
  created() {
    if (firebase.auth().currentUser) {
      this.isLoggedIn = true;
      this.currentUser = firebase.auth().currentUser.email;
    }
  },
  methods: {
    logout: function () {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.go({ path: this.$router.path });
        });
    },
  },
};
</script>

<style>
.navbar nav {
  padding: 0 20px;
}
</style>
