@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

nav {
  @apply fixed;
  @apply w-full;
  @apply bg-gray-900;
  @apply shadow-lg;
  @apply top-0;

  z-index: 20;
}

nav > div {
  @apply container;
  @apply max-w-xl;
  @apply flex;
  @apply content-center;
  @apply items-center;
  @apply justify-between;
  @apply h-16;
  @apply px-4;
}

nav h1 {
  @apply text-white;
  @apply text-xl;
}

nav h1 > strong {
  @apply text-green-300;
}

nav .login {
  @apply right-0;
  @apply flex;
  @apply ml-auto;
}

nav button {
  @apply text-white;
  @apply p-1;
  @apply rounded;
  @apply px-4;
}

.avatar {
  @apply h-8;
  @apply w-8;
  @apply rounded-full;
}

.container-sm {
  @apply container;
  @apply max-w-xl;
}

.message {
  @apply my-2;
  @apply w-full;
}

.message span {
  @apply ml-11;
  @apply text-xs;
  @apply text-gray-500;
}

.message .text {
  @apply mx-2;
  @apply p-2;
  @apply rounded-lg;
  @apply text-white;
}

.bottom {
  @apply fixed;
  @apply bottom-0;
  @apply bg-gray-900;
  @apply shadow-lg;
  @apply w-full;
}

.bottom form {
  @apply w-full;
  @apply flex;
  @apply justify-between;
}

.bottom form input {
  @apply flex-grow;
  @apply m-2;
  @apply py-2;
  @apply px-4;
  @apply mr-1;
  @apply rounded;
  @apply border-none;
  @apply bg-gray-700;
  @apply text-white;
}

.icon-send {
  @apply text-gray-500;
  @apply w-12;
  @apply h-12;
  @apply py-2;
  @apply mr-2;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-600;
  @apply shadow-lg;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  @apply rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-200;
}

.logout {
  @apply text-right
}