<template>
  <div class="container-sm mt-20">
    <div class="mx-5">
      <Message
        v-for="{ id, text, email, userId } in messages"
        :key="id"
        :name="email"
        :sender="userId == email?.uid"
      >
        {{ text }}

      </Message>
      
    </div>
  </div>
  

  <div ref="bottom" class="mt-20" />

  <div class="bottom">
    <div class="container-sm">
      <form @submit.prevent="send">
        <input v-model="message" placeholder="Message" required />
        <button type="submit"><SendIcon />Send</button>
      </form>
      
    </div>
  </div>
</template>

<script>
import { ref, watch, nextTick } from "vue";
import { useAuth, useChat } from "../main";
import SendIcon from "./SendIcon.vue";
import Message from "./Message.vue";



export default {
  components: { Message, SendIcon },
  setup() {
    const { email } = useAuth();
    const { messages, sendMessage } = useChat();

    const bottom = ref(null);
    watch(
      messages,
      () => {
        nextTick(() => {
          bottom.value?.scrollIntoView({ behavior: "smooth" });
        });
      },
      { deep: true }
    );

    const message = ref("");
    const send = () => {
      sendMessage(message.value);
      message.value = "";
    };

    

    return { bottom, email, messages, message, send };
  },
  
};
</script>

<style>
</style>