<template>
  <Nav />
  <Chat />
</template>

<script>
import { ref, onBeforeMount } from "vue";
import firebase from "firebase";
import Nav from './Nav'
import Chat from './Chat'

export default {
  name: "App",
  components: { Nav, Chat },

  setup() {
    const name = ref("");

    onBeforeMount(() => {
      const user = firebase.auth().currentUser;
      if (user) {
        name.value = user.email.split("@")[0];
      }
    });

    const Logout = () => {
      firebase
        .auth()
        .signOut()
        .then(() => console.log("Signe out!"))
        .catch((err) => alert(err.message));
    };

    return {
      name,
      Logout,
    };
  },
};
</script>

<style>


</style>
