<template>
  <div class="message">
    <span v-if="!sender">{{ name }}</span>
    <div class="flex" :class="sender ? 'flex-row-reverse' : ''">
      <div class="text w-3/4" :class="sender ? 'bg-green-800' : 'bg-gray-700'">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
import '../main.css'
export default {
    components: {},
    props: {
        name: {type: String, default: ''},
        sender: {type: Boolean, default: true}
    }
}
</script>

<style>

</style>