<template>
  <nav>
    <div>
      <h1><strong>Vue</strong> Chat App</h1>
      <h1>Hello, {{ name }} !</h1>
      <button>
        <router-link to="/profile"> <a>My Profile </a> </router-link>
      </button>
      <button>
      <router-link to="/new"> Your contact </router-link>
      </button>
      <button @click="Logout" class="logout"> Logout </button>
    </div>
  </nav>
</template>

<script>
import { useAuth } from "../main";
import { ref, onBeforeMount } from "vue";
import firebase from "firebase";
import '../main.css'
export default {
  setup() {
    const name = ref("");

    onBeforeMount(() => {
      const email = firebase.auth().currentUser;
      if (email) {
        name.value = email.email.split("@")[0];
      }
    });
    const { email } = useAuth();

    const Logout = () => {
      firebase
        .auth()
        .signOut()
        .then(() => console.log("Signe out!"))
        .catch((err) => alert(err.message));
    };
    return { email, name, Logout };
  },
};
</script>

<style>
</style>