<template>
  <div id="nested-con">
    <h1>{{ helloCaps }}</h1>
  </div>
</template>

<script>
export default {
  name: 'nested',
  data() {
    return {
      hello: "Hello from nested",
    };
  },
  computed: {
    helloCaps() {
      return this.hello.toUpperCase();
    },
  },
};
</script>

<style scoped>
    h1{
        color: green;
    }
</style>