<template>
  <div class="todo-list">
    <div class="list-head">
      <h1>{{ title }}</h1>
      <p>{{ completedTask }} / {{ totalTask }} Done</p>
    </div>

    <ul v-if="items.length">
      <todolistitem v-for="todo in items" :key="todo.id" :todo="todo" />
    </ul>
  </div>
</template> 


<script>
import TodoListItem from "./ToDoListItem";
let nextTodoId = 1;

export default {
  name: "todolist",
  components: {
    todolistitem: TodoListItem,
  },
  data() {
    return {
      title: "My todo list 1",
      items: [
        { id: nextTodoId++, complete: false, text: "Learn Vue" },
        { id: nextTodoId++, complete: false, text: "Learn React" },
        { id: nextTodoId++, complete: false, text: "Learn Angular" },
      ],
    };
  },
  computed: {
    completedTask() {
      return this.items.filter((x) => x.complete).length;
    },
    totalTask() {
      return this.items.length;
    },
  },
};
</script>

<style scoped>
.todo-list {
  background: white;
  width: 350px;
  padding: 20px 20px 40px 20px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.todo-list ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
</style>
