<template>
    <label v-bind:class="{completed: todo.complete}">
        <input v-model="todo.complete" type="checkbox" /> {{todo.text}}
    </label>
</template>

<script>
  export default{
    name: 'todolistitem',
    props : {
      todo: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style scoped>
label.computed {
    text-decoration: line-through;
}
</style>